*{
      margin: 0;
      padding: 0;
      font-family: 'Poppins', sans-serif;
      box-sizing: border-box;
}

.container{
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
}

.container h1{
      margin-top: 40px;
}

#create-btn{
      background-color: blueviolet;
      color: aliceblue;
      margin: 20px;
      padding: 10px 20px 10px;
      border-radius: 30px;
      font-size: 1rem;
}

#create-btn:hover{
      background-color: green;
}

.notes p{
      display: flex;
      background-color: cyan;
      width: 400px;
      height: 100px;
      position: relative;
      margin: 20px;
}

.notes p img{
      position: absolute;
      height: 25px;
      right: 10px;
      bottom: 10px;
      cursor: pointer;
}

.notes p img:hover{
      height: 27px;
}